.Header {
  position: relative;
  margin-bottom: 5rem;
}

.Header img {
  width: 100%;
  height: 60vh;
  object-fit: cover;
  object-position: center;
 border-radius: 10px;
  margin: .5rem 0;

  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}


  .Header section {
    position: absolute;
    bottom: 0.7rem;
    max-width: 94%;
    text-align: center;
    width: 100%;
  
    background-color: rgba(0, 0, 0, 0.474);
    padding: 0 2rem 0;
  color: rgb(255, 255, 255);
  border-radius: 3px solid transparent;
    font-size: 1.2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  }
.Header h1 {
  font-size: 2rem;
}
/*Cart componets*/
.Crement {
  display: flex ;
 justify-content: space-evenly;
 text-decoration: none;
 margin-bottom: 10px;
 padding: 5px;
 border: 2px  outset rgb(0, 106, 255);
} 
.Crement a {
  font-size: 1.5rem;
  color: rgb(84, 53, 16);
  text-decoration: none;
}
.Crement button{
  border: 2px solid rgb(0, 42, 255);
  font-size: 1.5rem;
 display: flex;
 justify-items: center;
 border-radius: 20px;
 background-color: rgba(59, 102, 135, 0.739);
}
.Total {
  font-size: 1.5rem;
  justify-content: space-between;
}
.Total a{
  text-decoration: none;
  color: rgb(55, 0, 255);
  border: 2px solid rgb(67, 74, 168);
  padding-right: 2rem;
  padding-left: 2rem;
  margin-left: 30%;
  border-radius: 5px;
  
}

.Total a:hover{
  background-color: rgba(255, 0, 0, 0.854) ;
  color: black;
}
.li{
  font-size: 1.5rem;
}

.checkout{
  border: 10px double rgb(0, 51, 255);
  width: 400px;
  padding: 5px;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  margin: 1rem  auto;
  border-radius: 1px;
  background-color: rgba(209, 202, 202, 0);
}
.checkout a{
  font-size: 1.5rem;
  text-decoration: none;
  color: rgb(8, 0, 255);
  margin: 10px;
  text-align: center;
}
.checkout input{
  padding: 8px;
  margin: 2px;
 align-items: center;
 text-align: center;
 border-radius: 5px;
 border: 1px solid rgba(0, 36, 242, 0.916);
}
.checkout button{
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgba(46, 27, 215, 0.915);
  background-color: rgba(25, 71, 67, 0.618);
  color: aliceblue;
  margin-top: 1rem;
  font-size: 1rem;
  align-items: center;
}
.checkout button:hover{
  cursor: pointer;
}
@media (max-width: 850px) {
  .checkout {
    margin: 0 100px;
  }
}